.git
.Rproj.user
cache
clean-data
data
diagnostics
doc
graphs
logs
profiling
rd
reports
src
ssa-database
tests
.dockerignore
.gitignore
.gitignore~
.Rhistory
2012.pdf
accnoesp.png
death.index.Rproj
descripcion_bd_defunciones_2013.pdf
LICENSE
makefile
README.md
run_all.R
TODO
